<h3>Employee List</h3>
<table style="width: 120%">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Id</th>
                <th>Gender</th>
                <th>Hobbies</th>
                <th>File_ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.emailId}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.hobbies}}</td>
                <td>{{employee.fileData.id}}</td>
                <td>
                    <button (click)="updateEmployee(employee.id)" class="btn btn-info">update</button>


                    <button (click)="deleteEmployee(employee.id)" class="btn btn-danger"
                        style="margin-left: 10px;">delete</button>

                    <button (click)="employeeDetail(employee.id)" class="btn btn-info"
                        style="margin-left: 10px;">view</button>
                </td>
            </tr>
        </tbody>
    </table>
</table>