<h3>View Employee details</h3>
<div>
    <div>
        <label><b>ID: </b></label>&nbsp;  {{employee.id}}
    </div>
    <div>
        <label><b>First Name: </b></label>&nbsp; {{employee.firstName}}
    </div>
    <div>
        <label><b>Last Name: </b></label>&nbsp;  {{employee.lastName}}
    </div>

    <div>
        <label><b>Email Id: </b></label>&nbsp;  {{employee.emailId}}
    </div>

    <div>
        <label><b>Gender: </b></label>&nbsp;  {{employee.gender}}
    </div>
    <div>
        <label><b>Hobbies: </b></label>&nbsp;  {{employee.hobbies}}
    </div>
    <div>
        <label><b>File_ID: </b></label>&nbsp;  {{employee.fileData.id}}
    </div>
</div>
<div><input type="button" (click)="getEmployeeFile(employee.fileData.id)" value="GET">
    
    <img [src]="imagePath">
