<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/employees" routerLinkActive="Active" class="nav-link">Employee List</a>
        </li>
        <li class="nav-item">
            <a routerLink='/create-employee' routerLinkActive="Active" class="nav-link">Add Employee</a>
        </li>
    </ul>
</nav>
<h1 class="text-center" style="color: green;">{{title}}</h1>
<div class="container">
    
</div>
<!-- <footer class="footer">
    <div class="container">
        <span>All Right Reserve 2022 @Java</span>
    </div>
</footer> -->


<app-child [item]="currentItem" (newItemEvent)="addItem($event)"></app-child>
<ul>
    <li *ngFor="let item of items">{{item}}</li>
  </ul>
  
<router-outlet></router-outlet>
